.fpass{
    min-height: 100px;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: var(--large_number);
}
.fpass *.disabled{
    opacity: .5;
    pointer-events: none;
}
.fp{
    font-family: var(--title_font);
    text-transform: capitalize;
    align-self: center;
    color: var(--passive_color);
    font-size: var(--large_number);
}
.fpass form{
    align-self: center;
}
.fpload{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.fpload i {
    font-size: calc(var(--large_number) + 10px);
    animation: rot 3s linear infinite;
}
.fp_msger{
    color: var(--failed_color);
    font-family: var(--body_font);
}
.fp_msger::first-letter{
    text-transform: uppercase;
}