<main class="frontLand">
    <section class="body">
        <div class="hero_panel">
            <span class="corner_shadow">
                <div class="go_to_view" (click)="op_viewer()"><i class="fa-solid fa-angles-down"></i></div>
                <h4>by EmyTech</h4>
                <h1>BUILD YOUR WATCH</h1>
                <button  (click)="sendtoPar()">build now</button>
            </span>
        </div>
    </section>
    <div class="float_footer">
        <p>{{current_year}}.</p>
        <span (click)="op_viewer()"><i class="fa-solid fa-angles-down"></i></span>
    </div>
</main>